# OpenSSL configuration to generate a new key with signing requst for a x509v3 
# multidomain certificate
[ req ]
default_bits       = 4096
default_md         = sha512
default_keyfile    = key.pem
prompt             = no
encrypt_key        = no

# base request
distinguished_name = req_distinguished_name

# extensions
req_extensions     = v3_req

# distinguished_name
[ req_distinguished_name ]
countryName            = "US"                     # C=
stateOrProvinceName    = "test"                   # ST=
localityName           = "test"	                  # L=
organizationName       = "test"	                  # O=
organizationalUnitName = "test"                   # OU=
commonName             = "test.host.local"        # CN=

# req_extensions
[ v3_req ]
subjectAltName = @alt_names

[ alt_names ]
DNS.0 = test.host.local
